.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-container {
    display: flex;
    flex-direction: column; 
    margin: 10px 25px 0;
}

.item {
    width: 47%;
}

.tab-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tab {
    background: none;
    border: none;
    padding-bottom: 5px;
    color: #fff;
    font-size: 16px;
}

.tab.active {
    border-bottom: 1px solid #fff;
}