.total-container {
    border-top: 1px solid #fff;
    padding-top: 5px;
    margin-bottom: 40px;
    margin-top: 15px;
}

.total-cart, .total-shipping, .total-order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
}

.total-order {
    margin-top: 5px;
}

.total-cart p,
.total-shipping p {
    font-family: 'OpenSans-Light';
}

.total-order p {
    font-family: 'OpenSans-Bold';
    font-size: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.select {
    padding: 10px;
    margin-top: 10px;
}

.select,
.input {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.error-border {
    border-color: #ff4d4f !important;
}

.error-text {
    color: #ff4d4f;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 10px;
}

.input::placeholder {
    color: #fff;
}

.continue-button {
    position: absolute;
    margin-top: auto;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    background-color: #fff;
    width: 90%;
    padding: 15px 0;
    border: none;
    border-radius: 10px;
    font-family: 'OpenSans-Bold';
}

.show-products-btn, .back-btn {
    width: fit-content;
    border: none;
    background: none;
    color: white;
    font-family: 'OpenSans-Bold';
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-size: 16px;
}